*{
	margin: 0;
	padding: 0;
}
body{
	background-color: $gris-fondo;
}
.first-section{
	background-image: url("../../dist/img/bg1.jpg");
	height: 650px;
	nav{
		div{
			div{
				ul{
					margin-left: 300px;
					margin-top: 50px;
					li{
						a{
							padding-left: 50px;
							font-size: 20px;
							font-weight: bold;
							@include fuenteYcolor();
						}
					}
				}
			}
		}
	}
	@include container();
}
/* YOUR LIFE, A PHOTO */
.imagen-nav{
	.row{
		div{
			h1{
				font-weight: bold;
				font-size: 40px;
				margin-top: 250px;
				@include fuenteYcolor();
			}
			h4{
				font-weight: bold;
				@include fuenteYcolor();
			}
			button{
				@include boton();
				@include fuenteYcolor();
			}
		}
	}
}
/* RAPPRESENT YOUR LIFE WITH SIMPLE PHOTO */
.second-section{
	background-color: $gris-fondo;
	background-image: url("../../dist/img/hand.png");
	height: 450px;
	background-repeat: no-repeat;
	background-position: right top;
	padding: 100px 50px 100px 70px;
	.row{
		div{
			h4{
				font-size: 20px;
				font-weight: bold;
				@include fuenteYcolordos();
			}
			p{
				font-family: $font-archivo;
			}
			button{
				@include fuenteYcolor();
				@include boton();
			}
		}
	}
}
/* DESIGN */
.third-section{
	background-color: $blanco;
	.row{
		div{
			img{
				margin-left: 90px;
				padding-top: 80px;
			}
		}
		div{
			h4{
				margin-top: 130px;
				margin-bottom: 50px;
				font-size: 20px;
				font-weight: bold;
				@include fuenteYcolordos();
			}
			p{
				font-family: $font-archivo;
			}
			button{
				@include fuenteYcolor();
				@include boton();
			}
		}
	}
}
/* OUR COMMUNITY */
.fourth-section{
	padding: 120px 50px 120px 70px;
	.row{
		div{
			h4{
				font-size: 20px;
				font-weight: bold;
				font-family: $font-archivo;
				color: $gris;
				margin-top: 30px;
				padding-right: 80px;
			}
			p{
				font-family: $font-archivo;
				padding-right: 80px;
			}
		}
	}
}
/* SUBSCRIBE TO OUR COMMUNITY */
.fifth-section{
	background-image: url("../../dist/img/bg2.jpg");
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	.row{
		div{
			h2{
				margin-top: 270px;
				@include fuenteYcolor();
			}
		}
		.input{
			input{
				width: 250px;
				height: 50px;
				position: relative;
				left: 530px;
				top: 10px;
			}
			span{
				position: relative;
				right: 530px;
				top: 10px;
				background-color: $verde;
				border-color: $verde;
				i{
					color: $blanco;
				}
			}
		}
	}
}
/* DOWNLOAD IT */
.sixth-section{
	background-color: $gris-fondo;
	padding: 60px 50px 60px 70px;
	.row{
		div{
			h3{
				font-size: 20px;
				font-weight: bold;
				font-family: $font-archivo;
				color: $gris;
				margin-top: 30px;
				padding-right: 80px;
			}
			p{
				font-family: $font-archivo;
				padding-right: 80px;
			}
		}
	}
	.row{
		div{
			button{
				@include fuenteYcolor();
				@include boton();
			}
		}
	}
}