*{
	margin: 0;
	padding: 0;
}

.first-section{
	background-image: url("../../dist/img/bg1.jpg");
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}
