@mixin container(){
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
}
@mixin fuenteYcolor(){
	color: $blanco;
	font-family: $font-archivo;
}
@mixin boton(){
	background-color: $verde;
	border-color: $verde;
	padding: 10px 50px 10px 50px;
	margin-top: 40px;
	font-weight: bold;
}
@mixin fuenteYcolordos{
	font-family: $font-archivo;
	color: $verde;
}
@mixin pie{
	font-family: $font-archivo;
	color: $gris;
	font-weight: bold;
}